body { background: #296e13; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-config-0 { color: #6527eb; font-size: 15px; margin-bottom: 5px; }
.block-sms-1 { color: #b59271; font-size: 17px; margin-bottom: 5px; }
.block-router-2 { color: #f0ee96; font-size: 15px; margin-bottom: 5px; }
.block-invoice-3 { color: #71409; font-size: 20px; margin-bottom: 5px; }
.block-notify-4 { color: #ef5520; font-size: 17px; margin-bottom: 5px; }
.block-product-5 { color: #40f4ef; font-size: 17px; margin-bottom: 5px; }
.block-payment-6 { color: #42a703; font-size: 17px; margin-bottom: 5px; }
.block-email-7 { color: #2ff8c; font-size: 14px; margin-bottom: 5px; }
.block-config-8 { color: #885f1d; font-size: 12px; margin-bottom: 5px; }
.block-auth-9 { color: #2e3c2e; font-size: 19px; margin-bottom: 5px; }